<style type="text/css">
  .cls-rfc-cliente {
    font-weight: bold;
  }
  .cls-nombre-cliente {
    font-size: 12px;
  }
</style>

<!-- Grid -->
<div class="grid-seccion">
  <h3 class="titulo">Catálogo de Facturas</h3>

  <div class="form-inline pull-left">
    <label>Tipo de Facturas: </label>
    <select class="form-control" id="filtroTipoFactura">
      <option value="">-- Todas --</option>
      <option value="R">Recibidas</option>
      <option value="E">Emitidas</option>
    </select>
  </div>

  <div class="form-inline pull-right">
    <div class="input-group stylish-input-group">
      <input type="text" class="form-control textoBuscar" placeholder="Buscar" >
      <span class="input-group-addon">
        <span title="Limpiar Busqueda" class="glyphicon glyphicon-search clear-search"></span>
      </span>
    </div>
  </div>
  
  <table id="gridFacturas" class="table table-striped table-hover table-condensed">
    <thead>
      <th>
        <div class="cls-orderable" nameColumn="fecha">
          <span>Fecha</span>
        </div>
      </th>
      <th>
        <div class="cls-orderable" nameColumn="rfc">
          <span>RFC</span>
        </div>
      </th>
      <th>
        <div class="" nameColumn="total">
          <span>Total</span>
        </div>
      </th>
      <th>
        <div class="" nameColumn="tipo">
          <span>Tipo</span>
        </div>
      </th>
    </thead>
    <tbody>
    </tbody>
  </table>
  
  <div class="cls-toolbar">
    <!--<button class="btn btn-primary botonNuevo">Nuevo</button>-->
    <button class="btn btn-primary botonEditar">Visualizar</button>
    <button class="btn btn-danger  botonEliminar">Eliminar</button>
    <button class="btn btn-default botonCargar" data-toggle="modal" data-target="#modal-cargar-factura">Cargar</button>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="modal-cargar-factura" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Cargar Factura (XML)</h4>
        </div>
        <div class="modal-body">

          <input type="file" id="uploaderXML" name="uploaderXML" />
          <button id="cargarXML" style="margin-top:10px;">Cargar</button>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- Formulario -->
<div class="form-seccion">
  <h3 class="titulo">Captura de Facturas</h3>
  <form id="formFacturas">
    <div class="cls-form row">
      <div class="col-sm-6">
        <input type="hidden" name="id" />
        <!-- <div class="form-group">
          <label for="txt-rfc">RFC:</label>
          <input type="text" class="form-control" name="rfc" maxlength="13" />
        </div>
        <div class="form-group">
          <label for="txt-nombre">Razon Social:</label>
          <input type="text" class="form-control" name="nombre" />
        </div>
        <div class="form-group">
          <label for="txt-comercial">Nombre Comercial:</label>
          <input type="text" class="form-control" name="comercial" />
        </div>
        <div class="form-group">
          <label for="txt-calle">Calle:</label>
          <input type="text" class="form-control" name="calle" />
        </div>
        <div class="form-group">
          <label for="txt-numero">Numero:</label>
          <input type="text" class="form-control" name="numero" />
        </div>
        <div class="form-group">
          <label for="txt-colonia">Colonia:</label>
          <input type="text" class="form-control" name="colonia" />
        </div>
        <div class="form-group">
          <label for="txt-cp">Codigo Postal:</label>
          <input type="text" class="form-control" name="cp" maxlength="5" />
        </div> -->
      </div>
      <div class="col-sm-6">
        <!-- <div class="form-group">
          <label for="txt-telefono">Telefono:</label>
          <input type="text" class="form-control" name="telefono" maxlength="20" />
        </div>
        <div class="form-group">
          <label for="txt-celular">Celular:</label>
          <input type="text" class="form-control" name="celular" maxlength="20" />
        </div>
        <div class="form-group">
          <label for="txt-email">Email:</label>
          <input type="text" class="form-control" name="email" />
        </div> -->
      </div>
    </div>
  </form>
  
  <div class="cls-toolbar">
    <button class="btn btn-primary botonGuardar">Guardar</button>
    <button class="btn btn-default botonCerrar">Cerrar</button>
  </div>
</div>
