<!-- Formulario -->
<div class="form-seccion">
  <h3 class="titulo">Reportes</h3>
  <form id="formReportes">
    <div class="cls-form row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="">Fecha Inicial:</label>
          <div class="input-group cls-datepicker-container" id="dateFecIni">
            <input class="form-control cls-datepicker-input" type="text" value="">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label for="">Fecha Final:</label>
          <div class="input-group cls-datepicker-container" id="dateFecFin">
            <input class="form-control cls-datepicker-input" type="text" value="">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label for="">Tipo:</label>
          <div class="input-group">
            <select name="tipo_factura" class="form-control">
              <option value="">-- Todas --</option>
              <option value="R">Recibidas</option>
              <option value="E">Emitidas</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </form>
  
  <div class="cls-toolbar">
    <button class="btn btn-primary btnConcentrado">Concentrado</button>
    <button class="btn btn-primary btnDetallado">Detallado</button>
  </div>
</div>
